html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #4C5F3B;
}

header {
    background-color: #78733C;
}

.navbar-expand-sm .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}