html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #4C5F3B;
  outline: none;
}

footer{
    border-top: 1px solid #78733C;
}

header {
    background-color: #78733C;
}

.navbar-expand-sm .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h {
    display: flex;
    justify-content: center;
    
}

.nav-item {
    display: flex;
}

.input-container {
    background-color: #a88954;
    border-style: solid;
    border-radius: 10px;
    border-color: #000000;
}

.input-container input {
    border: none;
    background: transparent;
    outline: none;
}
