<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Logo placeholder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Kaart">Kaart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark dropdown" asp-area="" asp-controller="Home" asp-action="Activiteiten">Activiteiten</a>
                            <div class="list">
                                <ul>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Activiteiten_Schoolrijsjes">Schoolrijsjes</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Activiteiten_Kinderfeestjes">Kinderfeestjes</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Activiteiten_Safari">Safari</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Openingstijden">Openingstijden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Winkelwagen">winkel wagen placeholder</a>
                        </li>
                        <li class="nav-item">
                            <div class="input-container">
                                <input class="searchbar" type="text" placeholder="Search..">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="socials">
            <p>Volg ons nu ook op social media!</p>
            <a href="https://www.instagram.com/beeksebergen/?hl=nl" class="link-url" title="Instagram">Instagram</a>
            <a href="https://www.facebook.com/beeksebergen.nl/?locale=nl_NL" class="link-url" title="Facebook">Facebook</a>
            <a href="https://twitter.com/Beekse_Bergen" class="link-url" title="Twitter">Twitter</a>
            <a href="https://www.youtube.com/c/BeekseBergen_ned" class="link-url" title="Youtube">Youtube</a>
            <p>Je kunt ons ook bereiken via de telefoon: +31889000321</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
