@{
    ViewData["Title"] = "Schoolreisjes";
}
<h1>@ViewData["Title"]</h1>

<subtitel>
    <p>Kom nu met je school!</p>
</subtitel>
<bodytext>
    <p>Wat wilt een groep 6'er nu liever dan met zijn vrienden naar de tijgers en leeuwen kijken. Inderdaad naar al de exotische dieren kijken vanuit een tourbus. Er is een speciaal programma samengesteld waarin je begint vannuit een bus en daarna zelf dichterbij kan komen in de rest van het park. Natuurlijk krijg je als school korting maar daarvoor moet u onze hulpdesk contacteren.</p>
</bodytext>
