@{
    ViewData["Title"] = "Kinderfeestjes";
}
<h1>@ViewData["Title"]</h1>

<subtitel>
    <p>Beekse bergen is nu ook beschikbaar voor het beste feestje voor uw kind!</p>
</subtitel>
<bodytext>
    <p>In ons vernieuwde feestprogramma hebben wij de leukste activiteiten uitgekozen voor uw kinds vermaak. Van proffesionele schminkartisten tot de tijgers voeren, alles word geregeld in een dag lang programma voor uw kind.</p>
</bodytext>
