@{
    ViewData["Title"] = "Safari";
}
<h1>@ViewData["Title"]</h1>

<subtitel>
    <p>Ontdek de savanne in onze nieuwe drive-through safari experience.</p>
</subtitel>
<bodytext>
    <p>voor maar 35 euro per auto kunt u nu zelf in ons safaripark rondrijden. Je start bij de herbivoren zoals gazelle's, giraffen en zebra's. Waarna je de actie opzoekt bij de gevaarlijke karnivoren die eens per uur een klein stukje vlees krijgt via onze nieuwe uitvinding de feedzelle(een robot gazelle die super snel egrent voor de leeuwen). Kom jij de actie opzoeken kom dan nu naar ons safari park!</p>
</bodytext>