@{
    ViewData["Title"] = "Artikelpanda";
}
<h1>@ViewData["Title"]</h1>

<titel>
    De Reuzenpanda
</titel>
<subtitel>
    <p>Leefgebied - china</p>
</subtitel>
<bodytext>
    <p>De reuzenpanda is een beer met een kenmerkende zwart-witte tekening. Deze bedreigde soort komt alleen in enkele bergwouden in China voor. Er zijn nog maar een aantal bossen waar de panda voor komt. Bij elkaar zijn die ongeveer zo groot als de helft van Nederland. Er leven nog zo'n 1864 panda's in het wild. Maar gelukkig gaat het steeds beter met de panda.</p>
</bodytext>
<subtitel>
    <p>Uiterlijk</p>
</subtitel>
<bodytext>
    <p>De panda heeft een gedrongen lichaam met afstekende witte en zwarte kleuren. Het lichaam heeft een kleine staart en een opvallend ronde kop in vergelijking met andere beren. De schouderhoogte is ongeveer 65 tot 70 centimeter.[9] De panda is een forse beer en kan een lichaamslengte bereiken van ongeveer 150 tot 190 centimeter. De mannetjes worden groter en zwaarder dan de vrouwtjes. Mannetjes bereiken een lichaamsgewicht van 85 tot 125 kilo en vrouwtjes worden ongeveer 70 tot 100 kilo zwaar.[9] Mannetjes hebben relatief grotere neusgaten dan vrouwtjes.</p>
</bodytext>
<subtitel>
    <p>Eten - Bamboe</p>
</subtitel>
<bodytext>
    <p>
        De panda behoort tot de roofdieren (Carnivora). Dit is een groep zoogdieren waarvan de meeste vertegenwoordigers vrijwel uitsluitend leven van vlees en hierbij levende prooidieren actief opsporen en doden. De panda heeft zich echter gespecialiseerd in het eten van planten en is veel te traag om achter prooien aan te gaan. Het dieet bestaat voor het overgrote deel uit verschillende delen van een aantal soorten bamboe. Daarnaast worden ook wel andere planten gegeten. De voorouders van alle beren zijn aan te merken als echte vleeseters, maar de panda is een planteneter geworden, die echter af en toe nog wel dierlijk materiaal eet.
        <br /> <br />
        De panda leeft in het wild vrijwel volledig van bamboeplanten. Bamboe bestaat vooral uit onverteerbare vezels, daarom moeten panda’s – net als gorilla’s – veel eten: wel 10 tot 15 kilo per dag.
    </p>
</bodytext>