@{
    ViewData["Title"] = "Giraffen";
}
<h1>@ViewData["Title"]</h1>

<subtitel>
    <p>Leefgebied - Afrika</p>
</subtitel>
<bodytext>
    <p>Giraffen leven in Afrika ten zuiden van de Sahara. Ze leven op savannes, graslanden en open bosgebieden. Ze komen ook veel voor in Afrikaanse wildparken.</p>
</bodytext>
<subtitel>
    <p>Uiterlijk</p>
</subtitel>
<bodytext>
    <p>Een volwassen giraffe heeft een kop-romplengte van 3,5 tot 4,8 meter en een staartlengte van 76 tot 110 centimeter. Mannetjes worden over het algemeen groter dan vrouwtjes. Vrouwtjes zijn over het algemeen 3,5 tot 4,7 meter hoog en 400 tot 500+ kilogram zwaar. Mannetjes zijn 3,9 tot 5,2 meter hoog en 500 tot 800 kilogram zwaar. Bij uitzondering kan een mannetje 5,3 tot 5,5 meter hoog worden.</p>
</bodytext>
<subtitel>
    <p>Eten - Bladeren</p>
</subtitel>
<bodytext>
    <p>
        De giraffe is een herkauwer. Hij eet vooral bladeren, scheuten, vruchten en knoppen met name van mimosa, Commiphora, Terminalia en de stekelige acacia, maar ook andere struiken en bomen. De planten bevatten een belangrijke bron van calcium en eiwitten om de giraffe in zijn groei te ondersteunen. Bladeren grijpt hij met de 45 centimeter lange tong en de beweeglijke lippen. Vanwege zijn ruwe, geharde tong heeft de giraffe geen last van de scherpe acaciadoorns. Ook in droge tijden, als er op de savanne nauwelijks water te vinden is, kan de giraffe overleven. In de bladeren zit veel vocht en een volwassen giraffe eet hiervan zo'n 60 à 65 kg per dag. Dankzij zijn hoogte kan de giraffe bij bladeren die voor de meeste herbivoren onbereikbaar zijn. Wanneer een giraffe gestresseerd is, komt het soms voor dat hij op de schors van takken kauwt. Hoewel de giraffe een herbivoor is, is het bekend dat de giraffe karkassen opzoekt en opgedroogd vlees van botten likt. Tijdens het natte seizoen, is er eten in overvloed en zijn de giraffe meer verspreid, terwijl in het droge seizoen, ze zich verzamelen rond de overgebleven groene bomen en struiken. Moeders hebben de neiging zich te voeden in open gebieden, vermoedelijk om het gemakkelijker te maken roofdieren op te merken. Het is voor een giraffe gebruikelijk om te kwijlen tijdens het eten. De giraffe eet minder voedsel dan vele andere planteneters, omdat hij een betere spijsvertering heeft en de planten die hij eet meer voedingsstoffen bevatten. De ontlasting van het dier komt in de vorm van kleine keutels. Wanneer het dier toegang heeft tot water, drinkt het met tussenpozen niet langer dan 3 dagen. Giraffen hebben een groot effect op de bomen waarvan ze eten. Ze vertragen de groei van jonge bomen voor jarenlang en ze eten van bomen waarvan de takken te lang zijn. Koeien gaan altijd liggen tijdens het herkauwen maar giraffen blijven bij het herkauwen liever staan.
    </p>
</bodytext>