@{
    ViewData["Title"] = "Pinguins";
}
<h1>@ViewData["Title"]</h1>

<subtitel>
    <p>Leefgebied - Al de koude en warme gebieden(niet op de noordpool)</p>
</subtitel>
<bodytext>
    <p>Pinguïns komen voor op en rond Antarctica, Nieuw-Zeeland, Australië, de Galapagoseilanden, Zuid-Afrika en het zuiden van Zuid-Amerika. Veel mensen denken dat pinguïns ook op de Noordpool leven. Dit is echter niet zo. Er komen geen pinguïns voor op de Noordpool.</p>
</bodytext>
<subtitel>
    <p>Uiterlijk</p>
</subtitel>
<bodytext>
    <p>De grootste nog levende soort is de keizerspinguïn met z'n 1,20m en de kleinste is de dwergpinguïn, die slechts 30 cm meet. Verder is geweten dat er tussen de geslachten een heel klein verschil in grootte en gewicht is, waarbij de vrouwtjes het "zwakkere" (dit is kleinere en lichtere) geslacht vormen. Ook in het overzicht van de soorten heb ik steeds bij benadering de grootte bijgevoegd. Afhankelijk van de levensomstandigheden en de periode van meten (voor of na het ruien en broeden) kan die grootte per soort namelijk ook variëren. Bovendien zal een meting van 100 vogels bijvoorbeeld een ander resultaat opleveren dan wanneer men bv. 5000 dieren zou meten.</p>
</bodytext>
<subtitel>
    <p>Eten - vis</p>
</subtitel>
<bodytext>
    <p>
        Pinguïns zijn carnivoren en vangen hun voedsel onder water. Ze eten hierbij vooral vis, kreeftachtigen en kleine inktvisjes. Wat de soorten onderling vangen is zeer divers. De grootste soort, de keizerspinguïn, eet ijsvissen, krill en inktvissen. De koningspinguïn eet soms inktvissen, maar leeft voornamelijk van kleine lantaarnvissen. De drie kleinere soorten (adelie-, ezels- en stormbandpinguïn) leven hoofdzakelijk van krill. Onderzoek uit 2011 toont aan dat bepaalde soorten pinguïns zoals de adeliepinguïn en de stormbandpinguïn in de afgelopen 30 jaar sterk in aantal zijn afgenomen. Het vermoeden bestaat dat dit vooral te wijten is aan een drastische afname van hun natuurlijk voedsel, het krill. Deze afname van krill in de Zuidpoolzeeën zou volgens zeeonderzoekers op zijn beurt weer een gevolg zijn van de opwarming van de aarde en het herstel van de walvissenstand.
    </p>
</bodytext>