@{
    ViewData["Title"] = "Openingstijden";
}
<h1>@ViewData["Title"]</h1>



<p>Hier vind u de openingstijden van het park.</p>

<table class="Openingstijden">
<thead>
<tr>
<th>Dag</th>
<th>Tijden</th>
</tr>
</thead>
<tbody>
<tr>
<td>Maandag</td>
<td>10:00 - 19:00</td>
</tr>
<tr>
<td>Dinsdag</td>
<td>10:00 - 19:00</td>
</tr>
<tr>
<td>Woensdag</td>
<td>10:00 - 19:00</td>
</tr>
<tr>
<td>Donderdag</td>
<td>gesloten</td>
</tr>
<tr>
<td>Vrijdag</td>
<td>10:00 - 21:00</td>
</tr>
<tr>
<td>Zaterdag</td>
<td>8:00 - 22:00</td>
</tr>
<tr>
<td>Zondag</td>
<td>8:00 - 22:00</td>
</tr>
</tbody>
</table>
<p class="fw-bold">Let op: op feestdagen zijn wij niet open!</p>