@{
    ViewData["Title"] = "Winkelwagen";
}
<h1>@ViewData["Title"]</h1>

<table>
<thead>
  <tr>
    <th>number</th>
    <th>aantal</th>
    <th>artikel</th>
    <th>prijs</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>#1</td>
    <td>4</td>
    <td>ticket-volwassene</td>
    <td>€104,00</td>
  </tr>
  <tr>
    <td>Totaal</td>
    <td>4</td>
    <td>21% BTW</td>
    <td>€104,00</td>
  </tr>
</tbody>
</table>
